.preview-section {
    font-family: "Times New Roman", Times, serif;
<<<<<<< HEAD
<<<<<<< HEAD
    /*margin: 74px;*/
}

    .preview-section #abstract_title h1 {
        font-size: 12px;
=======
    margin: 74px;
}

    .preview-section #abstract_title h1 {
        font-size: 20px;
>>>>>>> f475b73 (html2canvas print PDF preview)
=======
    /*margin: 74px;*/
}

    .preview-section #abstract_title h1 {
        font-size: 12px;
>>>>>>> 858ebce (html2pdf solved)
        text-align: center;
    }

    .preview-section #body_content #subtitle {
<<<<<<< HEAD
<<<<<<< HEAD
        font-size: 12px;
=======
        font-size: 20px;
>>>>>>> f475b73 (html2canvas print PDF preview)
=======
        font-size: 12px;
>>>>>>> 858ebce (html2pdf solved)
        text-align: center !important;
        font-weight: bold;
    }

    .preview-section #body_content p {
<<<<<<< HEAD
<<<<<<< HEAD
        font-size: 11px;
        text-align: justify;
        break-inside: avoid;
<<<<<<< HEAD
=======
        font-size: 19px;
=======
        font-size: 11px;
>>>>>>> 858ebce (html2pdf solved)
        text-align: justify;
>>>>>>> f475b73 (html2canvas print PDF preview)
=======
>>>>>>> b231f77 (https done but CORS issue for payment)
    }

    .preview-section #body_content img,figcaption {
        width: 50%;
        height:auto;
        display: block;
<<<<<<< HEAD
<<<<<<< HEAD
        margin-left: auto;
        margin-right: auto;
        break-inside: avoid;
    }

    .preview-section #author p {
        font-size: 11px;
=======
        margin-left: 300px;
        margin-right: 300px;
    }

    .preview-section #author p {
        font-size: 20px;
>>>>>>> f475b73 (html2canvas print PDF preview)
=======
        margin-left: auto;
        margin-right: auto;
        page-break-before: auto; 
        page-break-after: auto; 
        page-break-inside: avoid;
<<<<<<< HEAD
>>>>>>> ea61e0e (26/5/ pdf)
=======
>>>>>>> 4bb0d2d (merge admin login)
    }

    .preview-section #author p {
<<<<<<< HEAD
        font-size: 12px;
>>>>>>> 858ebce (html2pdf solved)
=======
        font-size: 11px;
>>>>>>> b231f77 (https done but CORS issue for payment)
        text-align: center;
    }

    .preview-section #aff p {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b231f77 (https done but CORS issue for payment)
        font-size: 11px;
        text-align: left;
    }
    .preview-section #aff span {
        font-size: 11px;
<<<<<<< HEAD
        text-align: left;
        font-style: italic;
    }

    .preview-section #keywords p {
        font-size: 11px;
=======
        font-size: 20px;
=======
        font-size: 12px;
>>>>>>> 858ebce (html2pdf solved)
=======
>>>>>>> b231f77 (https done but CORS issue for payment)
        text-align: left;
        font-style: italic;
    }

    .preview-section #keywords p {
<<<<<<< HEAD
<<<<<<< HEAD
        font-size: 20px;
>>>>>>> f475b73 (html2canvas print PDF preview)
=======
        font-size: 12px;
>>>>>>> 858ebce (html2pdf solved)
=======
        font-size: 11px;
>>>>>>> b231f77 (https done but CORS issue for payment)
        font-style: italic;
        text-align: left;
    }
    .preview-section #body_content li {
<<<<<<< HEAD
<<<<<<< HEAD
        font-size: 11px;
        text-align: justify;
<<<<<<< HEAD
        break-inside: avoid;
        list-style-type:none;
<<<<<<< HEAD
    }
=======
        font-size: 19px;
=======
        font-size: 11px;
>>>>>>> 858ebce (html2pdf solved)
        text-align: justify;
    }
>>>>>>> f475b73 (html2canvas print PDF preview)
=======
    }
>>>>>>> b231f77 (https done but CORS issue for payment)
=======
        list-style-type:none;
    }
>>>>>>> ea61e0e (26/5/ pdf)
